
<!-- <p>Name: {{ myName }}</p>
<p>Age: {{ age }}</p>
<p>Date of Birth : {{ dateOfBirth }}</p> -->
<!--
<div class="container">

<p>Product Name: {{ product.name }}</p>
<p>Price: {{ '$'+ product.price }}</p>
<p>Color: {{ product.color }}</p>
<p>Discounted Price: {{ getDiscountedPrice() }}</p>
<p>{{ product.inStock > 0 ? 'Item available': 'Not available' }}</p>


  <table class="table table-success table-striped-columns table-hover w-50">
    <tbody>
      <tr>
        <td>Product Name: </td>
        <td>{{ product.name }}</td>
      </tr>
      <tr>
        <td>Price: </td>
        <td>{{ 'BDT'+ product.price }}</td>
      </tr>
      <tr>
        <td>Color: </td>
        <td>{{ product.color }}</td>
      </tr>
      <tr>
        <td>Discounted Price:</td>
        <td>{{ getDiscountedPrice() }}</td>
      </tr>
      <tr>
        <td>In Stock</td>
        <td>{{ product.inStock > 0 ? 'Item available': 'Not available' }}</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-success table-striped-columns table-hover">
    <thead style="background-color: green; padding: 5px;">
      <th>Name</th>
      <th>Age</th>
      <th>Occupation</th>
      <th>Email</th>
      <th>Location</th>
    </thead>
    <tbody>
      <tr *ngFor="let person of personList">
        <td>{{ person.name }}</td>
        <td>{{ person.age }}</td>
        <td>{{ person.occupation }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.location }}</td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-success" (click)="onClick()">Click me</button>

  <div [hidden]="display">
    display this content
  </div>

  <input type="text" (input)="searchEvent($event)">
  <span>Search Value : {{ searchText }}</span>

 <input type="text" [(ngModel)]="inputValue">
 <span>Search Value : {{ inputValue }}</span>

</div> -->

<app-container></app-container>
