
<nz-card style="width:700px; margin-left: 500px; margin-top: 45px;">
  <form nz-form [formGroup]="userForm" (ngSubmit)="saveUser()">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="userId">User ID</nz-form-label>
      <nz-form-control nzErrorTip="Please input your userId!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="userId"  placeholder="userID" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="username">User Name</nz-form-label>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="username"  placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="Password">Password</nz-form-label>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button type="submit" nz-button class="login-form-button login-form-margin"
    [disabled]="userForm.invalid" [nzType]="'primary'">Submit</button>
  </form>

  <!-- {{ userForm.value | json }} -->
</nz-card>
